.light-theme {
    height: 100vh;
    --header-color: #f3f4f6;
    --header-text-color: #4f6c8a;
    --body-background-color: #ffffff;
    --bullet-point-color: #087ea4;
    --list-text-color: #23272f;
    background-color: var(--body-background-color);
}

.dark-theme {
    height: 100vh;
    --header-color: #374151;
    --header-text-color: #ebebef;
    --body-background-color: #23272f;
    --bullet-point-color: #087ea4;
    --list-text-color: #f6f7f9;
    background-color: var(--body-background-color);
}

.nav-header-items {
    list-style: none;
    display: flex;
    margin-right: 2%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--header-color);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    color: var(--header-text-color);
    padding-right: 20px;
}

.nav-header-items > li {
    padding: 10px;
    color: var(--header-text-color);
    font-family: Avenir;
    cursor: pointer;
}

.nav > h1 {
    margin-right: auto;
    font-family: Avenir;
    color: var(--header-text-color);
}

.nav-logo {
    width: 100px;
    height: 100px;
    margin-left: 5px;
    animation: rotate 15s infinite linear;
}

/*Rotate Animation*/
@keyframes rotate {
    to {
        transform: rotate(1turn);
    }
}

body {
    background-color: var(--body-background-color);
}

.main-content > h1 {
    font-family: "DecoType Naskh";
}

/* This is how you can add multiple ids */
.main-content, .footer {
    padding-left: 20px;
    font-family: Avenir;
    margin: 0px;
}

.main-content {
    background-image: url("logo.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
}

h1 {
    color: var(--list-text-color);
}

li {
    color: var(--list-text-color);
    font-family: Avenir;
    padding-block: 10px;
}


/*This marker helps to change bullet point color*/
li::marker {
    color: var(--bullet-point-color);
    font-size: 1.1rem;
}

small {
    color: var(--list-text-color);
}