.nav-header-items {
    list-style: none;
    display: flex;
    margin-right: 2%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #212121;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    color: white;
}

.nav-header-items > li {
    padding: 10px;
    color: white;
    font-family: Avenir;
}

.nav > h1 {
    margin-right: auto;
    font-family: Avenir;
}

.nav-logo {
    width: 100px;
    height: 100px;
    margin-left: 5px;
    animation: rotate 15s infinite linear;
}

/*Rotate Animation*/
@keyframes rotate {
    to {
        transform: rotate(1turn);
    }
}

body {
    background-color: #282828;
}

.main-content > h1 {
    font-family: "DecoType Naskh";
}

/* This is how you can add multiple ids */
.main-content, .footer {
    padding-left: 20px;
    font-family: Avenir;
    margin: 0px;
}

.main-content {
    background-image: url("logo.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
}

h1 {
    color: white;
}

li {
    color: white;
    font-family: Avenir;
    padding-block: 10px;
}


/*This marker helps to change bullet point color*/
li::marker {
    color: aqua;
    font-size: 1.1rem;
}

small {
    color: white;
}