.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212121;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.nav-header-items {
    list-style: none;
    display: flex;
    margin-right: 2%;
}

.nav-header-items > li {
    padding: 10px;
    color: white;
    font-family: Avenir;
}

.nav-logo {
    width: 100px;
    height: 100px;
    margin-left: 5px;
}

body {
    background-color: #282828;
}

.main-content > h1 {
    font-family: "DecoType Naskh";
}

/* This is how you can add multiple ids */
.main-content, .footer {
    padding-left: 20px;
    font-family: Avenir;
}

h1 {
    color: white;
}

li {
    color: white;
    font-family: Avenir;
}

small {
    color: white;
}